@import 'tailwindcss';

@config '../../../tailwind.config.mjs';

@font-face {
  font-family: 'Playfair Display';
  src: url('/PlayfairDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/PlusJakartaSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/PlusJakartaSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/PlusJakartaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/PlusJakartaSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@theme {
  --color-z-red: #C91E40;
  --color-z-green: #0A7363;
  --color-z-purple: #7801DD;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 15%, 0.8;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
  }
  body {
    @apply min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}


 /* Default heading styles */
 h1 {
  @apply text-[3.25rem] leading-[1.30] font-bold font-sans;
}

h2 {
  @apply text-[2.188rem] leading-[1.30] font-semibold font-sans;
}

h3 {
  @apply text-[1.375rem] leading-[1.30] font-semibold font-sans;
}

h4 {
  @apply text-[1.875rem] leading-[1.20] font-semibold font-sans;
}

h5 {
  @apply text-[1.25rem] leading-[1.30] font-semibold font-sans;
}

h6 {
  @apply text-[1.25rem] leading-[1.70] font-medium font-sans;
}

/* Serif heading styles */
.srf-h1 {
  @apply text-[3.375rem] leading-[1.30] font-serif font-normal;
}

.srf-h2 {
  @apply text-[2.313rem] leading-[1.30] font-serif font-normal;
}

.srf-h3 {
  @apply text-[1.5rem] leading-[1.30] font-serif font-normal;
}

/* Responsive styles for small screens */
@media (min-width: 640px) {
  h1 {
    @apply text-[5rem];
  }
  
  h2 {
    @apply text-[3.25rem];
  }
  
  h3 {
    @apply text-[2.188rem];
  }
  
  h4 {
    @apply text-[2.188rem];
  }
  
  .srf-h1 {
    @apply text-[5.125rem];
  }
  
  .srf-h2 {
    @apply text-[3.375rem];
  }
  
  .srf-h3 {
    @apply text-[2.313rem];
  }
}
